# 1. ConfigMap: Guardamos la URL del backend
apiVersion: v1
kind: ConfigMap
metadata:
  name: app-config
data:
  # 'python-service' es el nombre del servicio DNS que definimos abajo
  backend-url: "http://python-service:5000"

---
# 2. Backend Deployment
apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: python-api
        image: tu-usuario-docker/backend:v1 # <--- CAMBIAR ESTO
        ports:
        - containerPort: 5000

---
# 3. Backend Service (ClusterIP - Solo interno)
apiVersion: v1
kind: Service
metadata:
  name: python-service # Este nombre se usa en el DNS
spec:
  selector:
    app: backend
  ports:
    - protocol: TCP
      port: 5000
      targetPort: 5000

---
# 4. Frontend Deployment
apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
      - name: node-web
        image: tu-usuario-docker/frontend:v1 # <--- CAMBIAR ESTO
        ports:
        - containerPort: 3000
        env:
        - name: BACKEND_URL
          valueFrom:
            configMapKeyRef:
              name: app-config
              key: backend-url

---
# 5. Frontend Service (NodePort - Para ver en navegador)
apiVersion: v1
kind: Service
metadata:
  name: frontend-service
spec:
  type: NodePort
  selector:
    app: frontend
  ports:
    - port: 80
      targetPort: 3000
      nodePort: 30001 # Accedes con minikube ip:30001